*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
  background-color: #b81b51;
}

/* Utility Classes */
.text-center{
  text-align: center;
  margin: auto;
}

.container{
  width: 750px;
  margin: auto;
  text-align: center;
}

.d-flex{
  display: flex;
}

.white{
  color: white;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: grey;
}

.height-200{
  height: 200px;
}

.height-70{
  height: 70px;
}

.card-rounded{
  border-radius: 5px;
}

.d-block{
  display: block;
}

.p-10{
  padding: 10px;
}

.py-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-50{
  padding-top: 50px;
}

.fw-600{
  font-weight: 600;
}

.fuchsia{
  color: #b81b51;
}


h3{
  text-align: left;
}

h2{
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Sezione calcolo biglietto */
#calcolo-biglietto .d-flex{
  justify-content: space-around;
}

#calcolo-biglietto button{
  border-radius: 3px;
}

#calcolo-biglietto button:focus{
  border: 2px solid #b81b51;
}


/* Sezione biglietto */
#biglietto{
  display: none;
}

#biglietto h3{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
}

table{
  width: 650px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
