*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
  background-color: #b81b51;
}

/* Utility Classes */
.text-center{
  text-align: center;
  margin: auto;
}

.container{
  width: 750px;
  margin: auto;
  text-align: center;
}

.d-flex{
  display: flex;
}

.white{
  color: white;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: grey;
}

h3{
  text-align: left;
}

/* Sezione calcolo biglietto */
#calcolo-biglietto .d-flex{
  justify-content: space-around;
}

table{
  width: 650px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
